@font-face {
    font-family: Atteron;
    src: url(./media/Atteron.ttf);
}

/* -----------------------------------navbar----------------------------------------- */
* {
    font-family: Atteron;
    color: #263A29;
    margin: 0;
}

p{
    line-height: 1.6;
}
a:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}

.nav {
    width: 100%;
    height: 65px;
    /* line-height: 65px; */
    text-align: center;
}

.logo_img {
    width: 140px;
    margin-top: -20px;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav div.main_list {
    z-index: 99;
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 10px;
}

.nav div.main_list ul li a {
    z-index: 9;
    text-decoration: none;
    color: #263A29;
    line-height: 65px;
    font-size: 18px;
}

.nav div.main_list ul li a:hover {
    color: #A4BC92;
}
.nav div.main_list ul li:nth-child(3){
    margin-right: 25px;
}






.homeBannerContainer{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.bannerText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bannerImage{
    width: 50%;
}
.bannerImage img{
    width: 100%;
}
.bannerHeading h1{
    font-size: 4.5rem;
    margin-bottom: 0;
}
.bannerPara p{
    margin-top: 0;
    font-size: 28px;
    color: #41644A;
}








.secondBannerContainer{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.secondBannerContainer h2{
    font-size: 2.9rem;
}
.secondBannerContainer p{
    font-size: 20px;
    text-align: center;
    
}





.whoWeAreDiv{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.whoWeAreDiv h2{
    font-size: 2.9rem;
    /* text-decoration: underline #AAC8A7; */
}
.whoWeAreContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wwrImage{
    width: 40%;
}
.wwrText{
    width: 60%;
}
.wwrText button{
    font-size: 18px;
    text-decoration: none;
    border: 0;
    color: white;
    border-radius: 5px;
    background-color: #6d8659;
    padding: 5px 15px;
}
.wwrText button:hover{
    background-color: #7f956e;
}
.whoWeAreContainer img{
    width: 80%;
}
.whoWeAreContainer p{
    font-size: 20px;
}
.rightAlign{
    text-align: right;
}
.wwrText button{
margin-top: 50px;
}




.contactDiv{
    width: 90vw;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1535242208474-9a2793260ca8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80");
}
.contactBox{
    width: 60%;
    background-color: white;
    padding: 20px 50px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.contactDiv textarea{
    height: 100px;
    border-bottom: 1px #7f956e solid;
}
.contactDiv input{
    height: 60px;
    font-size: 15px;
    border: 0;
    margin-bottom: 10px;
    border-bottom: 1px #7f956e solid;
}
.contactDiv input:focus{
    outline: none;
}
.contactDiv textarea:focus{
    outline: none;
}
.contactDiv button{
    border: 0;
    margin-top: 10px;
    color: white;
    background-color: #6d8659;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}
.contactDiv button:hover{
    background-color: #7f956e;
}
.contactDiv input, .contactDiv textarea{
    width: 100%;
    margin-top: 10px;
}




footer{
    height: 60px;
    width: 100vw;
    background-color: #c3d3b7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0 !important;
}
footer p{
    font-size: 18px;
}


@media(max-width: 769px){
    .nav div.main_list ul li{
        padding-right: 0;
    }
    .nav div.main_list ul li:nth-child(3){
        margin-right: 15px;
    }
    .logo_img{
        margin-left: -10px;
    }
    .homeBannerContainer{
        flex-direction: column;
        align-items: center;
    }
    .bannerText{
        width: 90%;
    }
    .bannerImage{
        width: 100%;
    }
    .bannerHeading h1, .bannerPara p{
        text-align: center;
    }
    .whoWeAreContainer{
        flex-direction: column;
    }
    .whoWeAreContainer:nth-child(2){
        flex-direction: column-reverse;
    }
    .whoWeAreContainer p{
        text-align: center;
    }
    .wwrImage{
        width: 100%;
    }
    .wwrText{
        width: 100%;
    }
    .whoWeAreContainer img{
        width: 100%;
    }
    .whoWeAreContainer:nth-child(2) p{
        text-align: center;
    }
    
}
/* ------galaxy fold------- */
@media(max-width:280px){
    .nav div.main_list ul{
        margin-right: 35px;
        margin-top: -20px;
    }
    .bannerHeading h1{
        font-size: 45px;
    }
    .bannerPara p{
        font-size: 15px;
    }
    .secondBannerContainer h2, .whoWeAreDiv h2{
        font-size: 25px;
    }
    .whoWeAreContainer p{
        font-size: 13px;
    }
}



.aboutContainer{
    width: 90vw;
    margin: 0 auto;
}
.lightGreen{
    color: #c3d3b7;
}
.aboutHeading h1{
    font-size: 3rem;
}
.aboutParaFirst{
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 30px;
}
.lightGreen2{
    color: #6d8659;
}
.featuresDiv{
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 100px;
}