@font-face {
    font-family: Atteron;
    src: url(./media/Atteron.ttf);
}

/* -----------------------------------navbar----------------------------------------- */
* {
    font-family: Atteron;
    color: #263A29;
}

.nav {
    width: 100%;
    height: 65px;
    /* line-height: 65px; */
    text-align: center;
}

.logo_img {
    width: 140px;
    margin-left: -20px;
    margin-top: -20px;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}


.nav div.main_list {
    z-index: 99;
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 10px;
}

.nav div.main_list ul li a {
    z-index: 9;
    text-decoration: none;
    color: #263A29;
    line-height: 65px;
    font-size: 18px;
}

.nav div.main_list ul li a:hover {
    color: #A4BC92;
}







.homeBannerContainer{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.bannerText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bannerImage{
    width: 50%;
}
.bannerImage img{
    width: 100%;
}
.bannerHeading h1{
    font-size: 4.5rem;
}
.bannerPara p{
    font-size: 28px;
    color: #41644A;
}








.secondBannerContainer{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.secondBannerContainer h2{
    font-size: 2.9rem;
}
.secondBannerContainer p{
    font-size: 20px;
    text-align: center;
    
}





.whoWeAreDiv{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}
.whoWeAreDiv h2{
    font-size: 2.9rem;
    text-decoration: underline #AAC8A7;
}
.whoWeAreContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wwrImage{
    width: 40%;
}
.wwrText{
    width: 60%;
}
.whoWeAreContainer img{
    width: 100%;
}
.whoWeAreContainer p{
    font-size: 20px;
}




@media(max-width: 769px){
    .homeBannerContainer{
        flex-direction: column;
        align-items: center;
    }
    .bannerText{
        width: 90%;
    }
    .bannerImage{
        width: 100%;
    }
    .bannerHeading h1, .bannerPara p{
        text-align: center;
    }
    .whoWeAreContainer{
        flex-direction: column;
    }
    .whoWeAreContainer p{
        text-align: center;
    }
    .wwrImage{
        width: 100%;
    }
    .wwrText{
        width: 100%;
    }
}
